<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>flygodness</key>
		<dict>
			<key>delay</key>
			<string>0.15</string>
			<key>frames</key>
			<array>
				<string>godness_2_0</string>
				<string>godness_2_1</string>
				<string>godness_2_2</string>
				<string>godness_2_3</string>
			</array>
		</dict>
	</dict>
	<key>textureFileName</key>
	<string>godness.plist</string>
</dict>
</plist>