<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>jqm_0_0</key>
<dict>
<key>frame</key>
<string>{{0,0},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_0_1</key>
<dict>
<key>frame</key>
<string>{{32,0},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{32,0},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_0_2</key>
<dict>
<key>frame</key>
<string>{{64,0},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{64,0},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_0_3</key>
<dict>
<key>frame</key>
<string>{{96,0},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{96,0},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_1_0</key>
<dict>
<key>frame</key>
<string>{{0,48},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,48},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_1_1</key>
<dict>
<key>frame</key>
<string>{{32,48},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{32,48},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_1_2</key>
<dict>
<key>frame</key>
<string>{{64,48},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{64,48},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_1_3</key>
<dict>
<key>frame</key>
<string>{{96,48},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{96,48},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_2_0</key>
<dict>
<key>frame</key>
<string>{{0,96},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,96},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_2_1</key>
<dict>
<key>frame</key>
<string>{{32,96},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{32,96},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_2_2</key>
<dict>
<key>frame</key>
<string>{{64,96},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{64,96},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_2_3</key>
<dict>
<key>frame</key>
<string>{{96,96},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{96,96},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_3_0</key>
<dict>
<key>frame</key>
<string>{{0,144},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,144},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_3_1</key>
<dict>
<key>frame</key>
<string>{{32,144},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{32,144},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_3_2</key>
<dict>
<key>frame</key>
<string>{{64,144},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{64,144},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
<key>jqm_3_3</key>
<dict>
<key>frame</key>
<string>{{96,144},{32,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{96,144},{32,48}}</string>
<key>sourceSize</key>
<string>{32,48}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>jqm.png</string>
<key>size</key>
<string>{128,192}</string>
<key>TextureFileName</key>
<string>jqm.png</string>
</dict>
</dict>
</plist>
